<footer class=" pt-3 mt-5" id="contact">

    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md">
                <h5>Contact</h5>
                <div class="bd-example">
                    <address>
                        <strong>DRPerformance</strong><br/>
                        120 Zone Artisanal du Tuquet 1<br/>
                        40150 Angresse<br/>
                    </address>
                    <address>
                        <a href="tel:+33524624744">05 24 62 47 44</a>
                        <br>
                        <a href="tel:+33524624744">06 33 33 44 27</a>
                        <br>
                        <a href="mailto:contact@drperformance.fr">contact@drperformance.fr</a>
                    </address>
                </div>
            </div>
            <div class="col-12 col-md text-right">
                <h5>Spécialités</h5>
                <ul class="list-unstyled text-small">
                    <li class="text-monospace">Reprogrammation ECU</li>
                    <li class="text-monospace">Diagnostic partiel ou complet</li>
                    <li class="text-monospace">Remise à zero code erreur</li>
                    <li class="text-monospace">Entretien / Réparation</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-12">
                <ul class="list-inline text-small">
                    <li class="list-inline-item">
                        <a href="#">Conditions générales de vente</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="#">Mentions légales</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="/login">Connexion administration</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.526657154981!2d-1.3395123837570826!3d43.6580155601359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51504503f99685%3A0xc64ecb0075d25b07!2sSASU+DRPERFORMANCE!5e0!3m2!1sfr!2sfr!4v1557844511842!5m2!1sfr!2sfr" width="auto" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>


</footer>
