{% extends 'base.html.twig' %}


{% block title %}La solution pour votre auto !
{% endblock %}

{% block body %}


    <div class="container py-3" id="services">
        <div class="row text-center">
            <div class="col-12  col-md-6 col-lg-4">
                <div class="py-3">
                    <i class="fas fa-3x fa-search text-primary"></i>
                </div>
                <h3 class="text-monospace">Diagnostique</h3>
            </div>
            <div class="col-12  col-md-6 col-lg-4">
                <div class="py-3">
                    <i class="fas fa-3x fa-microchip text-success"></i>
                </div>
                <h3 class="text-monospace">Reprogrammation</h3>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mx-auto">
                <div class="py-3">
                    <i class="fas fa-3x fa-tachometer-alt text-danger"></i>
                </div>
                <h3 class="text-monospace">Performance</h3>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item text-danger">Reprogrammation moteur (ECU)</li>
                    <li class="list-inline-item text-primary">Diagnostic partiel ou complet</li>
                    <li class="list-inline-item text-success">Suppresion et remise à zero code erreur</li>
                    <li class="list-inline-item text-danger">Passage au banc d'essai</li>
                    <li class="list-inline-item text-success">Clonage calculateur moteur</li>
                    <li class="list-inline-item text-primary">Solutions FAP, EGR, AdBlue</li>
                    <li class="list-inline-item">Montage pièces de compétition</li>
                    <li class="list-inline-item text-success">Reset Crash Airbag</li>
                    <li class="list-inline-item text-primary">Mise à jour du code en ligne usine</li>
                    <li class="list-inline-item text-success">Adapatation codage calculateur</li>
                </ul>
            </div>
        </div>


        <div class="row py-3 align-items-center">
            <div class="col-12 col-lg-8">
                <p>
                    Bienvenue chez DRPerformance !
                </p>
                <p class="lead">
                    Nous sommes spécialisés dans la reprogrammation des calculateurs de véhicules, dans la détection de panne par diagnostic partiel ou complet ainsi que dans la suppression de codes erreur pour tout type de véhicule, marque et modèle.
                </p>
                <p>
                    Les marques Allemandes n'ont aucun secret pour moi mais je suis tout autant performant sur les autres marques, prestigieuses ou non.</p>
                <p class="lead text-green-drp">
                    Optimiser votre Audi A3 ou bien votre Peugeot 208 ne sera pas un problème !
                </p>
                <p>
                    Notre entreprise est située dans les Landes, dans une petite zone artisanale dans le village d'Angresse, à proximité de Capbreton et Hossegor.
                </p>

            </div>
            <div class="col-12 col-lg-4">
                <ul class="list-unstyled text-right">
                    <li class="text-monospace text-danger">Reprogrammation ECU</li>
                    <li class="text-monospace text-primary">Diagnostic partiel ou complet</li>
                    <li class="text-monospace text-success">Remise à zero code erreur</li>
                    <li class="text-monospace text-primary">Entretien / Réparation</li>
                    <li class="text-monospace text-danger">Passage au banc d'essai</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container jumbotron bg-carbon-alt shadow border-success border py-5">

        <div class="row">
            <div class="col-12">
                <h2>Reprogrammations</h2>
                <h4 class="text-success">Optimisez votre moteur</h4>
                <h5 class="text-muted">Réduisez votre consommation !</h5>
                <p>
                    La reprogrammation de votre ECU permet d'optimiser sa cartographie afin d'obtenir un gain de puissance, couple et une réduction de la consommation de votre moteur.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pt-5">
                <h5>Nos dernieres réalisations :</h5>
                <ul class="list-unstyled">

                    {% for map in lastMaps %}

                        <div class="media">
                            <img src="/uploads/pictures/generations/{{map.engine.generation.picture}}" class="mr-3 img-fluid" width="200px" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{ map.name}}
                                    -
                                    {{map.engine.generation.name}}
                                </h5>
                                <span class="text-green-drp">+
                                    {{map.power - map.engine.power}}
                                    ch
                                </span>
                                <br>


                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 pt-5 text-center">
                <p class="lead">
                    Gain de puissance et de couple.
                    <br/>
                    Consommation réduite.
                </p>

                <a class="btn btn-primary" href="/reprogrammations">Chercher une reprogrammation pour mon véhicule</a>
            </div>
            <div class="col-12 pt-5">
                <p>
                    Je peux également m'occuper de cloner un calculateur moteur (lors d'un ECU à changer par exemple), proposer des solutions pour le FAP, l'EGR, l'Addblue ou encore le NOX², supprimer les codes "défauts", faire un reset du crash airbag, adapter le codage du calculateur, mettre à jour le code en ligne usine.
                </p>
            </div>

        </div>
    </div>


    <div class="container">


        <div class="row pt-5">
            <div class="col-12 mx-auto">

                <p></p>
            </div>
        </div>


        <div class="row featurette pt-5">
            <div class="col-md-7 order-md-2 align-self-center">
                <h2 class="featurette-heading">
                    Expérience.<br/>
                    <span class="text-muted">Un savoir-faire reconnu.</span>
                </h2>
                <p>
                    Plusieurs années d'expérience en mécanique et en diagnostic/reprogrammation des ECU. Je dispose de tout le matériel nécessaire afin de répondre aux différentes demandes que ce soit une détection de panne ou bien une optimisation de la cartographie du véhicule, quels que soient le type de véhicule ainsi que la marque et le modèle, dans la mesure du possible.
                </p>
                <p>
                    La remise à zéro de code erreur permet de finaliser des réparations. Un code ne va pas forcément disparaitre de lui-même après réparation et peut potentiellement poser problème pendant un contrôle technique. En plus du diagnostic, je peux également effectuer les réparations en conséquence.
                </p>
                <p>
                    Je propose également des services d'entretien courant (révision, vidange, pneumatique, freins, etc.).
                </p>
            </div>
            <div class="col-md-5 order-md-1 align-self-center">
                <img src="/assets/img/vitrine/board.jpg" class="img-fluid" alt="Responsive image"/>
            </div>
        </div>

        <div class="row featurette pt-5" id="prestations">
            <div class="col-md-7  align-self-center">
                <h2 class="featurette-heading">
                    Prestations.
                    <br/>
                    <span class="text-muted">Des tarifs abordables.</span>
                </h2>
                <p>
                    Quelle que soit la demande, mes tarifs sont abordables et mon savoir-faire ainsi que ma rigueur sont reconnus par les concessions et professionnels auto environnants mais également par les professionnels dépendant d'un ou plusieurs véhicules (tels que les artisans) et par un grand nombre de particuliers.
                </p>
            </div>
            <div class="col-md-5  align-self-center">
                <img src="/assets/img/vitrine/oil.jpg" class="img-fluid" alt="Responsive image"/>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12  col-lg-6">
                <div class="table-responsive">
                    <table class="table table-dark table-striped  align-self-center">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="text-success">Prestations</span>
                                </th>
                                <th scope="col">
                                    <span class="">Prix TTC</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Mécanique</th>
                                <td>66 €</td>
                            </tr>
                            <tr>
                                <th>Mécanique Utilitaire</th>
                                <td>78 €</td>
                            </tr>
                            <tr>
                                <th>Diagnostique simple</th>
                                <td>60 €</td>
                            </tr>
                            <tr>
                                <th>Diagnostique approfondi</th>
                                <td>84 €</td>
                            </tr>
                            <tr>
                                <th>Diagnostique Code</th>
                                <td>108 €</td>
                            </tr>
                            <tr>
                                <th>Soudure composant électronique</th>
                                <td>96 €</td>
                            </tr>
                            <tr>
                                <th>Forfait déplacement supérieur à 20 Km</th>
                                <td>66 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12  col-lg-6 align-self-center">
                <div class="table-responsive">
                    <table class="table table-dark table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="text-success">Reprogrammations</span>
                                </th>
                                <th scope="col">
                                    <span class="">Prix TTC
                                        <small>( à partir de )</small>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Reprog. voiture</th>
                                <td>390 €</td>
                            </tr>
                            <tr>
                                <th>Reprog. utilitaire</th>
                                <td>450 €</td>
                            </tr>
                            <tr>
                                <th>Reprog. supercar</th>
                                <td>620 €</td>
                            </tr>
                            <tr>
                                <th>Reprog. jet-ski / moto</th>
                                <td>320 €</td>
                            </tr>
                            <tr>
                                <th>Reprog. poids-lourd / tracteurs</th>
                                <td>680 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
