/* body {
    font-family: 'Open Sans', sans-serif;
} */

/* 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Racing Sans One', cursive;
} */

#drp_navbar {
    /* transition: 0.8s; */
    /* Adds a transition effect when the padding is decreased */
}

.bg-carbon-alt {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.bg-carbon {
    /* background-color: rgb(56, 54, 54); */
    background-color: greenyellow;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

.bg-carbon-faded {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.image-item img {
    object-fit: cover;
}

.bannerGeneration {
    /* filter: grayscale(100%); */
    background: center;
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.text-green-drp {
    color: #35fd2f;
}

.bg-green-drp {
    background-color: #35fd2f;
}

.text-border-dark {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-border-light {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

@media (max-width: 767px) {
    .logo_navbar {
        max-height: 60px;
    }
}

/* @media (min-width: 768px) {
    .logo_navbar {
        max-height: 80px;
    }
    a.nav-link {
        background-color: black, 0.8;
        font-size: 25px;
        font-weight: 500;
        font-variant: small-caps;
    }
} */