{# <footer class="bg-dark text-light py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 mb-3">DRPerformace</div>
            <div class="col-lg-4 mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quas at repellat obcaecati corporis accusantium veniam soluta blanditiis architecto iste.</div>
            <div class="col-lg-4 mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quas at repellat obcaecati corporis accusantium veniam soluta blanditiis architecto iste, ullam rem quisquam, perferendis labore! Vero provident ipsam minus voluptatem?</div>
        </div>
    </div>
</footer> #}
