<nav class="navbar navbar-expand-lg navbar-dark bg-carbon-alt border-bottom  border-success shadow-lg fixed-top" id="drp_navbar">


    <div class="container">

        <a class="navbar-brand" href="{{path('home')}}">

            <img src="/assets/img/logos/logo_long.png" height="50" alt=" " id="logo_navbar">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                {% if app.user %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="manufacturerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration</a>
                        <div class="dropdown-menu" aria-labelledby="manufacturerDropdown">
                            <a class="dropdown-item" href="/manufacturer/">Liste des constructeurs</a>
                            <a class="dropdown-item" href="/manufacturer/new/">Ajouter un constucteur</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}</a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ path('app_logout') }} ">Logout</a>
                        </div>
                    </li>


                {% endif %}

                {% if app.request.get('_route') == 'home' %}

                    <li class="nav-item">
                        <a class="nav-link  btn bg-green-drp mx-1 mb-1 text-dark" href="/reprogrammations">Reprogrammations</a>

                    </li>


                    <li class="nav-item">
                        <a class="nav-link btn bg-green-drp mx-1 mb-1 text-dark" href="#services">Services</a>


                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn bg-green-drp mx-1 mb-1 text-dark" href="#prestations">Prestations</a>


                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn bg-green-drp mx-1 mb-1 text-dark" href="#contact">Contact</a>


                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
